.reminderItem {
    border-bottom: 1px solid #3C3C434D;
    &__text {
        color: #000;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        margin-bottom: 8px;
        margin-top: 16px;
    }
    &__days {
        color: #000;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        opacity: 0.5;
        margin-bottom: 4px;
    }
    &__type {
        display: flex;
        width: 210px;
        margin-bottom: 8px;
        &_title{
            color: #000;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            opacity: 0.5;
            width: 67px;
            margin-right: 16px;
        }
        &_value {
            opacity: 1;
            color: #000;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
        }
    }
    &__deadline {
        display: flex;
        width: 210px;
        margin-bottom: 16px;
        &_title{
            color: #000;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            opacity: 0.5;
            width: 67px;
            margin-right: 16px;
        }
        &_value {
            opacity: 1;
            color: #000;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
        }
    }
    &__buttonWrapper {
        display: flex;
        width: 60px;
        justify-content: space-between;
        margin-bottom: 16px; 
       
    }
    &__button {
        width: 18px;
        height: 18px;
    }
}
