@import 'app/styles/shared.scss';

.file {
  display: flex;
  height: 48px;
  padding: 0px 16px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 26px;
  background: var(--day-background-green-secondary, rgba(110, 209, 48, 0.20));
  margin-top: 16px;
  color: var(--day-text-inverted-primary, #FFF);
  font-size: 20px;
  &__cross {
    width: 14px;
    height: 14px;
    margin-left: 7px;
    color: $textSecondaryLight;
    transition: color $transitionSettings;
    cursor: pointer;
    &:hover {
      color: $textSecondaryLight_hover;
    }
    &_dark {
      color: $textSecondaryDark;
      &:hover {
        color: $textSecondaryDark_hover;
      }
    }
  }
}
@media (max-width: $mobileMaxWidth), (max-height: $mobileMaxHeight ) {
  .file {
    margin-top: 10px;
    font-size: 14px;
  }
}