@import "../../mixins";

@mixin passwordControlIcon() {
  cursor: pointer;
  fill: $colorWhite;
  height: 20px;
  position: absolute;
  right: $gapGrid;
  top: 50%;
  transform: translateY(-50%);
  transition: fill $transitionSettings;
  width: $gap32;
}
